.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 2;
}
.section h1 {
  color: #000;
  /* typography/0-Recommended/H2 - Bold */
  /* font-family: TT Norms Pro; */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.section p {
  color: #000;
  /* typography/0-Recommended/small - medium */
  /* font-family: TT Norms Pro; */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-top: 15px;
  line-height: 16px; /* 133.333% */
}
.section img {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto 16px;
  width: auto 85px;
}

.section2 button{
  border-radius: 8px;
  border: 0px solid;
  background-color: white;
  gap: 8px;
  display: flex;
  color: var(--colors-neutral-fg-muted, #617177);
  /* typography/text/xs/medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; 
  cursor: pointer;
}



.vl {
/* display: flex;
gap: 14px;
justify-content: center;
align-items: center; */
  width: 1px;
  background: #000;
  height: 27px;
  margin-left: 14px;
  margin-right: 14px;
}
